<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Artists</string>
	<string>Albums</string>
	<string>Songs</string>
	<string>Podcasts</string>
	<string>Playlists</string>
	<string>Genres</string>
	<string>Composers</string>
	<string>Audiobooks</string>
</array>
</plist>
